xformers==0.0.22
diffusers==0.25.0
comet-ml==3.47.6
pandas==2.2.3
monai==1.4.0
accelerate==1.2.1
pytorch-ignite==0.5.1
kornia==0.8.0
monai-generative==0.2.3
scipy==1.15.1
torcheval==0.0.7
huggingface-hub==0.25.2
matplotlib==3.10.0